

html {
    box-sizing: border-box;
    height: 100%;
}

/* Resetting margin and padding for all elements */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    align-items: center;
    background: linear-gradient(320deg, #3070f0, #eaeb92, #41f859);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

/* Styles for the main calculator wrapper */
.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

/* Styles for the calculator screen */
.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.34);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

/* Styles for the rows of calculator buttons */
.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

/* Styles for individual calculator buttons */
.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

/* Styles for the last button in each row */
.calc-button:last-child {
    /* Duplicate styles, consider consolidating if they are the same */
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #232323;
    background: #d78b28;
}

/* Hover styles for buttons */
.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover {
    background-color: inherit;
}

/* Active styles for buttons */
.calc-button:active {
    background-color: #eaeb92;
}

.calc-button:last-child:active {
    background-color: rgba(216, 234, 15, 0.687);
}

/* Styles for double and triple width buttons */
.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}

